streamlit>=1.25.0
langchain>=0.1.0
langchain-community>=0.0.10
langchain-core>=0.1.0
faiss-cpu
transformers
sentence-transformers
huggingface_hub
PyPDF2
pdfminer.six
tqdm
numpy
pandas
matplotlib
plotly
